
.reset {
    width:60px;
    background-color:#00ffff;
}

.container-header {

}

.header-row {
    display: inline-block;
    width:100%;
    text-align: center;
    float:left;
}

.header-button-holder {
    margin-top:3.5%;
    margin-left:10%;
    margin-right:10%;
    float:left;
    width:20px;
    height:20px;
    border:14px;
}

.header-button-input-holder {
    margin-top:15%;
    margin-left:10%;
    margin-right:5%;
    width:20px;
    height:20px;
    border:14px;
    display:inline;
}

.header-button {
    background-color: white;
    width:200px;
    height:80px;
    font-size:24px;
    font-weight: bold;
    font-style: italic;
}

.header-button-input {
    background-color: white;
    width:100px;
    height:40px;
    font-size:14px;
    margin-top:5%;
    visibility: hidden;
}

.PlayerChartContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    heigh:100%;
    background-color: #fff;
    border:12px solid #636363;
}

.recharts-label{
    padding:10px;
}

.playerProfileHeader {
    font-size:40pt;
    font-family:Seravek;
}

.UsernameHeader {
    font-size:40pt;
    font-family:Seravek;
    font-style:italic;
}

tspan {
    padding:10px;
    color:#32CD32;
}

body {
    background: #fff;
}


th {
    padding:50px;
    text-align:center;
}

td {
    width:300px;
    text-align: center;
    padding: 30px 75px;
}

tr:hover {
    background-color: #ccebff;
}



table {
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    height:200px;
}

.GameDisplayTable {
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    width:65%;
    border:none;
    height:50%;
}

.GameDisplayHeader {
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.AverageUserHeader {
    width:100%;
}

.GameDisplayAverageRow {
}

.You {
    text-decoration: underline;
}

Table {
    border-collapse: collapse;
    padding-top:50px;
    margin-top:50px;
    height: 450px;
}

Td {
    padding:10px;
    border-left: 2px groove;
    border-right:2px groove;
}

.firstCell {
    border-left: none;
    font-size:18px;
}

.toolTipTd {
    padding:10px;
    border: none;
}

Th {
    padding:15px;
    border: 2px groove;
}

Tr {
    border-left: 2px groove;
    border-right:2px groove;
}

.tableHolder {
    padding-top:1px;
    height: 100%;
}


.infoDisplay {

}

.HeaderText {
    text-decoration: underline;
    font-weight:bold;
    font-size:18px;
}

.square {
    width: 325px;
    height: 162.5px;
    background: red;
    text-align: center;
    align-self: auto;
    display:inline-table;
}

.CreatePlayerForm {
    margin-left:10%;
    margin-right:auto;
    z-index: 0;
}

.custom-tooltip {
    opacity: 1;
    background-color: #fff;
}

.custom-tooltip-average {
    opacity: 1;
    background-color: #fff;
    width:300px;
}

span text {
    display: inline-block;
    text-align: center;
    color: black;
    font-weight:bold;
    padding: 10px 10px 10px 27px;
    font-size:24pt;
    text-decoration: underline;
}


.PlayerGraph {
    margin:auto;
    display: inline-block;
    align-self: center;
    padding-right: 10%;
    width:100%;
}

.TooltipTitle {
    text-align: left;
    font-family: SansSerif;
    text-decoration:underline;
    padding-left: 4px;

}

.TooltipSubTitle {
    text-align: center;
    font-family: SansSerif;
    text-decoration:underline;
    padding-left: 4px;

}

.TooltipText {
    text-align: left;
    font-family: SansSerif;
    padding-left: 4px;
    padding-right: 4px;
}

.legendWinsLosses {
    float:right;
}

.XAxisLabel {
    display:inline-block;
    align-self: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    line-height: 1.8;
}

#score {
    color:#4286f4;
}

.PlayersCell {
    border: 2px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: black;
}

.PlayersTable {
    border: 2px groove;
    height: 100%;
}

.GameTable {
    border: 2px groove;
    height: 100%;
}

.choosePlayerContainer {
    display: inline-block;
    float:left;
    color:black;
    font-weight: bold;
    font-size:18px;
}

.choosePlayerTypeAhead {
    display: inline-block;
}

.typeAheadInput {
    border: 2px groove;
    height:30px;
    margin-bottom: auto;
}

.custom-pagination > .reactable-current-page {
color: #fff;
cursor: default;
background-color: rgba(0, 38, 113, 0.99);
border-color: #020104;
}

.custom-pagination > a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom-pagination > a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
}

.custom-pagination > a {
    position: relative;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #00205f;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-width: 0px;
}

.custom-pagination {
    border-top:2px groove;
    border-bottom: 2px groove;

}

.UsernameLabel {
    font-weight:bold;
    font-style: italic;
    font-size:30px;
}

.inputGameLabel {
    font-weight:bold;
    font-style: italic;
    font-size:22px;
}

.typeahead-selector {

}

.typeahead-option {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.typeahead-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.typeahead-selector { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 200px;
    margin-top: 5px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    position: absolute;
    list-style: none;
}

.homePageTable {
    border: none;
}

.homePageTd {
    border: none;
}

.infoDisplay {
    background-color: white;
    height: 100%;
    line-height: 45px;
}

.infoDisplayHeader {
    font-style: italic;
    font-weight: bold;
    font-size: 30px;

}

.longestStreakUsername {
    font-size: 22px;
    font-weight: 200;

}

.reactable-column-header {
    font-size:24px;
}

.editContainer {
    background-color: #05ceff;
    display: inline-block;
    padding: 5px;
    border-style: groove;


}

.cancelContainer {
    background-color: darkgray;
    padding: 5px;
    border-style: groove;
    display: inline-block;
}

.profileContainer {
    padding: 5px;
    border-style: groove;
    display: inline-block;
}

.deleteContainer {
    background-color: black;
    color:white;
    padding: 5px;
    border-style: groove;
    display: inline-block;
}

.player1Cell {
    font-size:18px;
}

.editButton {
    display:inline-block;
    margin-bottom:5px;
    font-size:14px;
    background-color: cyan;
    border: 2px groove;
}

.referenceLine {
    opacity: 20;

}

.dateInput {
    display:inline-block;
    float: right;
}

.dateInputContainer {
    display:inline-block;
    float: right;
}

.choosePlayer {
    color:black;
    font-weight: bold;
    font-size:18px;
}

.eloRatingText {
    font-size:16px;
    color:black;
}

.homePageBody {
    border:2px groove;
}

.playersTableColumn {
    font-size:20px;
}

.editUsernameInput {
    font-size:18px;
    width:30%;
}

.typeahead-text-input,.react-datepicker-ignore-onclickoutside,.editDateInput,.editScoreInput, .scoreInput, .typeahead-text-inputplayer1IDInput ,.typeahead-text-inputplayer2IDInput{
    font-size: 14px;
    height: 20px;
}

.typeahead-text-inputplayer1IDInput, .typeahead-text-inputplayer2IDInput {
    width:187px;
    text-align:center;
    font-weight:bold;
    color:blue;
}

.createPlayerButton {
    border-style: groove;
    background-color: white;
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}

.createPlayerInput, .scoreInput {
    height:20px;
    font-size:16px;
    text-align: center;
    color:darkblue;
    font-weight: bold;
}

.react-datepicker-popper {
    position:fixed;

}

.graphButton {
background-color: white;
}

.react-datepicker__input-container {
    display: table;
    text-align: center;
}

.bottomRow {
    border-bottom:2px groove;
}

.typeahead-activeplayer1IDInput*{
    background-color: #636363;
}

li[class^="typeahead-active"]{
    background-color: rgba(27, 220, 255, 0.53);
}

input[class^="editDateInput"] {
    font-size: 16px;
    height: 20px;
    width:187px;
    text-align: center;
}

.errorMessageGraph {
    font-size: 24pt;
    color: darkred;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0;
    padding-right: 0;
}

.rc-time-picker-input {
    font-size:16px;
}

.editDateInput react-datepicker-ignore-onclickoutside{
    text-align: center;
}

.gameFlexContainer {
    display: grid;
    width:80%;
}

.gameCellHeader {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


.resultText {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gameCell1 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;

     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 10;
     grid-row-end: 11;
 }

.gameCell2 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 12;
}

.gameCell3 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11;
}

.gameCell4 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 12;
}

.gameCell5 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 13;
}

.gameCell6 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
}

.gameCell7 {
    font-size:30pt;
    font-style: italic;
    color:darkblue;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 17;
}


